@import 'tailwindcss';
#root {
  /* max-width: 1280px; */
  padding: 1rem;
}

@theme {
  --color-primary: #596efe;
  --color-primary-light: #eef3ff;
  --color-border: #ececec;
  --color-dark: #3e3e3e;
  --color-btn-outline: #8397f8;
  --color-btn-outline: #8397f8;
}
