@import 'tailwindcss';
#root {
  /* max-width: 1280px; */
  padding: 1rem;
}

@theme {
  --color-primary: #596efe;
  --color-primary-light: #eef3ff;
  --color-border: #ececec;
  --color-dark: #3e3e3e;
  --color-grey-shade-1: #919191;
  --color-btn-outline: #3d5dff;
  --color-success: #34A853;
  --color-danger: #EA4336;
}
